# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build

# Ignore forced JDK filepath (had to add this for program to run on my PC - Naythan)
gradle.properties
